
@{
    ViewData["Title"] = "HomePage";
}
<p>@ViewBag.LIUID</p>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap1.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/New css/stylesheet.css">
</head>



<body>

  
    <div class="container">
        <div class="searchbox">
            <form id="searchform" action="/First/HomePage" method="post">
                <input type="text" class="form-control" id="Search" name="Search" placeholder="Start here, shop anywhere" maxlength="200">
                <button id="searchsubmit" class="btn btn-default" type="submit"><img src="~/images/icons/search-icon.png"></button>

            </form><br />
        </div>
    </div>
    <section class="catergories-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cat-left">
                        <h2>Categories</h2>
                        <div class="nav-cat">
                            <ul class="category_menu">

                                @{
                                    IList<Category> AllCategoreis = ViewBag.Categories;
                                }


                                @foreach (Category c in AllCategoreis)
                                {
                                    if (c.ParentCategory == 0)
                                    {

                                <li>
                                    <a href="/First/ListPage?c=@c.CategoryId&p=1">
                                        <span class="icone fa fa-women"></span>
                                        <span class="cat_name">@c.CategoryName</span>
                                    </a>


                                    <ul class="right_sliding">

                                        @{ 
                                            IList<Category> SubCategories = AllCategoreis.Where(cc => cc.ParentCategory == c.CategoryId).ToList<Category>();

                                        }

                                        @foreach (Category c1 in SubCategories)
                                        {
                                        <li>
                                            <a href="/First/ListPage?c=@c1.CategoryId">@c1.CategoryName</a>
                                        </li>
                                        }

                                        </ul>
                                </li>
                                    }
                                }
                          
                             </ul>
                        </div>
                    </div>
                </div>

                <div style="padding: 0 0px 0 0;padding-right: 13px;" class="col-lg-9">
                    <div class="banner">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="first-slide" style="width:100%; height: 250px;" src="~/images/Banners/b1.jpg" alt="First slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>Best Price</h1>
                                            <p>From All Over Pakistan</p>
                                            <p><a class="btn btn-lg btn-primary" href="/First/SignUp" role="button">Sign up today</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img class="first-slide" style="width:100%; height: 250px;" src="~/images/Banners/b2.jpg" alt="First slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>GET PRODUCTS</h1>
                                            <p>Save Your Time With Us.</p>
                                            <p><a class="btn btn-lg btn-primary" href="/First/SignUp" role="button">Sign up today</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="new-products">
        <div class="container">
            <div class="title1">
                <div class="pro-title">
                    <span>New Products</span>
                </div>
            </div>
        </div>

  
        <div class="container">
            <div class="row">
                @foreach (Product P in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="my-list">
                            <img src="@P.ProductImage" alt="dsadas" class="listt img-responsive" />
                            <h3 class="titleName">@P.ProductName</h3>
                            <span>@P.ProductPrice</span>
                            <div class="offer">@P.DiscountedPrice</div>
                            <div class="detail">
                                <p>@P.ProductMetaDisc </p>
                                <img src="@P.ProductImage" alt="dsadas" class="listt img-responsive"/>
                                <a href="@P.ProductUrl" class="btn btn-info">Add To Cart</a>
                                <a href="/First/ProductDetail?id=@P.ProductId" class="btn btn-info">Deatil</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </section>
    <section class="container">
        <div class="text-box">
            <div class="text-about">
                <h1 style="text-align: center;"><strong>Pakistan, Online Product Price Comparison</strong></h1></br>
                <p>With e-commerce fast growing in Pakistan, there has been an increase in the number of online shopping stores. A large number of products including mobiles, laptops, clothes, computer accessories, electrical appliances, household products, cosmetics, plasmas, etc. are listed on online shopping stores and websites.</p>
                <p><strong>Online Product Price Comparision</strong>, Pakistan&rsquo;s leading Price Comparison Website, takes online shopping to the next level. Customers can compare prices online for a wide range of products listed by different retailers. Using our comparison shopping engine, you can find the best value for money for the product of your choice.</p>
                <p>By bringing a large number of retailers and merchants offering diverse products onto a single platform, OPPC is set to become the country&rsquo;s leading online shopping store, revolutionizing the Pakistani online shopping experience.</p>
                <h2>Save Time &amp; Money without Compromising Quality</h2>
                <p>Our business philosophy focuses on high quality products, great savings and easy shopping! We aspire to create the ideal online shopping store environment for our customers. You can compare prices online of the multiple options of the same product, and make the best purchasing decision: not only in terms of money, but also time and convenience without compromising on quality.</p>
                <h2>24/7 Service</h2>
                <p>OPPC provides round the clock service to its visitors. Unlike brick-and-mortar stores, our price comparison website enables buyers to compare prices online at any time of the day, or night. We are open for business 365 days a year.</p>
                <h2>We DO NOT Buy/Sell Products</h2>
                <p>OPPC is a platform for buyers to meet sellers, compare prices online and make effective buying decisions. OPPC&nbsp;<strong>does not sell&nbsp;</strong>any products. When you select a product listed on our &lsquo;price comparison website&rsquo;, you are redirected to the online store/retailer offering that product. We don&rsquo;t make price determinations, either. All prices, in PKR, are set by the retailers.</p>
            </div>
        </div>
    </section>
    


</body>
</html>



